extends ../node_modules/neutronjs/page.jade

append head
    title
        block title
    link(href='/public/css/bootstrap.css', rel='stylesheet', type='text/css')
    link(href="/public/css/font-awesome.min.css", rel="stylesheet", type="text/css")
    link(href="/public/style.css", rel="stylesheet", type="text/css")
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(type='text/javascript', src='http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js')


append body
    .navbar.navbar-fixed-top(style={'height':'100px', 'background-color': 'white', '-webkit-box-shadow': '0px 1px 10px 0px rgba(0,0,0,0.25)', 'z-index': 1})
        .container.container-fluid
            .navbar-header
                a.navbar-brand(style="padding-top:4px")
                    img(src='/public/logo.png', style={'width': '90px'})
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.glyphicon.glyphicon-align-justify(style={color:"red"})
            .collapse.navbar-collapse.navbar-ex1-collapse
                    ul.nav.navbar-nav.navbar-right(style={'margin-top':' 30px;'})
                        li
                            a(href='/' className=this.props.active=="home"?"active":"") Start
                        li
                            a(href='/dienstleistungen') Dienstleistungen
                        li
                            a(href='/equipment') Equipment
                        li
                            a(href='/blog') Blog
                        li
                            a(href='/referenzen') Referenzen
                        li
                            a(href='/crew') Crew
                        li
                            a(href='/kontakt') Kontakt
    .navbar-spacer
    .main-content
        block content
    .footer
        br
        br
        .container
            .row
                .col-md-4
                    a.btn.btn-primary
                        span.glyphicon.glyphicon-chevron-up
                        | An den Seitenanfang
                    br
                    br
                    br
                    p
                        | Copyright 2013 All in one Concert GmbH
                        br
                        | Created by cloudstudios.ch
                .col-md-4(style={'color': 'white'})
                    h4.text-primary
                        | Empfehlen Sie uns!
                    p
                        | Waren Sie zufrieden mit unserem Service?
                        br
                        | Sagen sie es weiter!
                    #share-buttons
                        a(href='http://www.facebook.com/sharer.php?u=http://aioc.ch', target='_blank')
                            img(src='http://www.simplesharebuttons.com/images/somacro/facebook.png', alt='Facebook')
                        a(href='http://twitter.com/share?url=http://aioc.ch&text=All in one Concert', target='_blank')
                            img(src='http://www.simplesharebuttons.com/images/somacro/twitter.png', alt='Twitter')
                        a(href='https://plus.google.com/share?url=http://aioc.ch', target='_blank')
                            img(src='http://www.simplesharebuttons.com/images/somacro/google.png', alt='Google')
                        a(href='mailto:?Subject=All in one Concert&Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://aioc.ch')
                            img(src='http://www.simplesharebuttons.com/images/somacro/email.png', alt='Email')
                .col-md-4
                    h4.text-primary Kontakt
                    p
                        | Huwilstrasse 7
                        br
                        | 6280Hochdorf
                        br
                        | info@allinone-concert.ch
                        br
                        | www.allinone-concert.ch
        br
        br