extends base

append title
    | Kontakt

append content
    .container
        h1 Kontakt
        div All in one Concert GmbH
        div Huwilstrasse 7
        div 6280 Hochdorf
        div info@allinone-concert.ch
        div www.allinone-concert.ch
        div Lager: Huwilstrasse 7, 6280 Hochdorf (Neben Moto Wicki)
        div Fabrizio Mezzadri +4179 241 71 77
        div Handelsregisternr. CH-100.4.787.200-0
        div MwSt ID: 704 066
        br
        br
    div(ref="map",style="height:500px")
        iframe("src"="/public/map.html" width="100%" height="100%" frameBorder="0")
    .container
        h1 Offerte anfordern
        .form-horizontal
            .form-group
                label.control-label.col-xs-3 Vor- und Nachname
                .col-xs-9
                    input.form-control(type="text")
            .form-group
                label.control-label.col-xs-3 Firma
                .col-xs-9
                    input.form-control(type="text")
            .form-group
                label.control-label.col-xs-3 Adresse
                .col-xs-9
                    input.form-control(type="text")
            .form-group
                label.control-label.col-xs-3 PLZ und Ort
                .col-xs-3
                    input.form-control(type="text")
                .col-xs-6
                    input.form-control(type="text")
            .form-group
                label.control-label.col-xs-3 Telefon
                .col-xs-9
                    input.form-control(type="text")
            .form-group
                label.control-label.col-xs-3 E-Mail-Adresse
                .col-xs-9
                    input.form-control(type="text")
            br
            br
            .form-group
                label.control-label.col-xs-3 Art der Anfrage
                .col-xs-9
                    select.form-control(type="text" ref="requestType" onChange=this.onRequestTypeChange.bind(this))
                        option Offerte
                        option persönliches Gespräch
                        option Prospekt
                        option Mietpreisliste
                        option Feedback
                        option sonstige Anfrage
            br
            br
            if(!this.props.requestType || this.props.requestType == "Offerte")
                .form-group
                    label.control-label.col-xs-3 Art des Events
                    .col-xs-9
                        select.form-control(type="text")
                            option Konzert
                            option Party
                            option Messe
                            option Apero
                            option Catering
                            option Präsentation
                            option Special Event
                .form-group
                    label.control-label.col-xs-3 Datum des Events
                    .col-xs-9
                        input.form-control(type="text")
            .form-group
                label.control-label.col-xs-3 Ihre Nachricht
                .col-xs-9
                    TextArea.form-control
        br
        br
        br
        p(style="text-align:center")
            button.btn.btn-primary Anfrage versenden
        br
        br
        br
main.
    var TextArea = require("react-textarea-autosize");

    exports.onRequestTypeChange = function(){
        this.props.requestType = this.refs.requestType.getDOMNode().value;
        this.forceUpdate();
    }
