extends base

append title
    | Equipment

append content
    .container
        h1 Equipment
        .row
            .col-md-9.col-xs-12
                p All in one Concert vermietet aus ihrem modernen und gut gewarteten Sortiment die passenden Geräte und Infrastrukturen, um Ihren Anlass auf höchstem Niveau durch zu führen.
                h4 Technik von morgen bereits heute.
                p Ihre Vorstellungen verwirklichen wir mit modernster Technik! Unsere hochqualifizierten Fachleute kümmern sich im Hintergrund um ein perfektes gelingen Ihres Events.
                ul
                    li Moving Heads
                    li Scanner
                    li Goboprojektor
                    li Goboherstellung
                    li Trussing
                    li Scheinwerfer (LED & Konventionell)
                    li Blinder & Fluter
                    li Himmelstrahler
                    li Soundanlagen für 50 - 20'000 Personen
                    li Live Recording
                    li Bühnenpodeste
                    li Feuerwerk
                    li Spezialanfertigungen
            .col-md-3.col-xs-12
                ul.list-group
                    li.list-group-item
                        b Wir verwenden
                    li.list-group-item
                        a(href="") Sennheiser
                    li.list-group-item
                        a(href="") Yamaha Audio
                    li.list-group-item
                        a(href="") Hightlite
                    li.list-group-item
                        a(href="") GLP
                    li.list-group-item
                        a(href="") Global Truss
                    li.list-group-item
                        a(href="") ETC
