extends base

append title
    | Equipment

append content
    .container
        Component(key="props.page.data.equipment.title",type="text")
        .row
            .col-md-9.col-xs-12
                Component(key="props.page.data.equipment.equipment",type="area")
            .col-md-3.col-xs-12
                ul.list-group
                    li.list-group-item
                        b Wir verwenden
                    li.list-group-item
                        a(href="") Sennheiser
                    li.list-group-item
                        a(href="") Yamaha Audio
                    li.list-group-item
                        a(href="") Hightlite
                    li.list-group-item
                        a(href="") GLP
                    li.list-group-item
                        a(href="") Global Truss
                    li.list-group-item
                        a(href="") ETC
