extends base

append title
    | Equipment

append content
    .container
        Widget(data=this.props.data.title)
        .row
            .col-md-9.col-xs-12
                Widget(data=this.props.data.equipment)
            .col-md-3.col-xs-12
                ul.list-group
                    li.list-group-item
                        b Wir verwenden
                    li.list-group-item
                        a(href="") Sennheiser
                    li.list-group-item
                        a(href="") Yamaha Audio
                    li.list-group-item
                        a(href="") Hightlite
                    li.list-group-item
                        a(href="") GLP
                    li.list-group-item
                        a(href="") Global Truss
                    li.list-group-item
                        a(href="") ETC

main.
    var Widget = require("neutronjs/lib/widget.js")
