.footer
    .container
        .row
            .col-md-4
                a.btn.btn-default
                    span.glyphicon.glyphicon-chevron-up
                    | An den Seitenanfang
                br
                br
                br
                p
                    | Copyright 2013 All in one Concert GmbH
                    br
                    | Created by cloudstudios.ch
            .col-md-4(style={'color': 'white'})
                h4.text-danger
                    | Empfehlen Sie uns!
                p
                    | Waren Sie zufrieden mit unserem Service?
                    br
                    | Sagen sie es weiter!
                #share-buttons
                    a(href='http://www.facebook.com/sharer.php?u=http://aioc.ch', target='_blank')
                        img(src='http://www.simplesharebuttons.com/images/somacro/facebook.png', alt='Facebook')
                    a(href='http://twitter.com/share?url=http://aioc.ch&text=All in one Concert', target='_blank')
                        img(src='http://www.simplesharebuttons.com/images/somacro/twitter.png', alt='Twitter')
                    a(href='https://plus.google.com/share?url=http://aioc.ch', target='_blank')
                        img(src='http://www.simplesharebuttons.com/images/somacro/google.png', alt='Google')
                    a(href='mailto:?Subject=All in one Concert&Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://aioc.ch')
                        img(src='http://www.simplesharebuttons.com/images/somacro/email.png', alt='Email')
            .col-md-4
                h4.text-danger Kontakt
                p
                    | Huwilstrasse 7
                    br
                    | 6280Hochdorf
                    br
                    | info@allinone-concert.ch
                    br
                    | www.allinone-concert.ch
