.navbar.navbar-fixed-top(style={'height':'100px', 'background-color': 'white', '-webkit-box-shadow': '0px 1px 10px 0px rgba(0,0,0,0.25)', 'z-index': 1})
    .container.container-fluid
        .navbar-header
            a.navbar-brand(style={'margin-top':' -6px', 'color': 'black'})
                img(src='/public/logo.png', style={'width': '90px'})
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.glyphicon.glyphicon-align-justify(style={color:"red"})
        .collapse.navbar-collapse.navbar-ex1-collapse
                ul.nav.navbar-nav.navbar-right(style={'margin-top':' 30px;'})
                    li
                        a(href='/' className=this.props.active=="home"?"active":"") Start
                    li
                        a(href='/dienstleistungen') Dienstleistungen
                    li
                        a(href='/equipment') Equipment
                    li
                        a(href='/blog') Blog
                    li
                        a(href='/referenzen') Referenzen
                    li
                        a(href='/crew') Crew
                    li
                        a(href='/kontakt') Kontakt
main.
    exports.dienstleistungen = function(){
        console.log(this);
    }
