extends ./base.jade

append title
    | Dienstleistungen

append content
    .container
        Widget(data=this.props.data.title)
        .row
            .col-md-9.col-xs-12
                Widget(data=this.props.data.services)
                a.btn.btn-primary.pull-right(href="") Fordern Sie eine Offerte an!
                .clearfix
                Widget(data=this.props.data.rental)
                a.btn.btn-primary.pull-right(href="/equipment") Sehen Sie sich unser Equipment an!
                .clearfix
            .col-md-3.col-xs-12
                ul.list-group
                    li.list-group-item
                        b Unsere AGB
                    li.list-group-item
                        a(href="") Allgemeine Geschäftsbedingungen
main.
    var Widget = require("neutronjs/lib/widget.js");