extends base

append title
    | Start

append content
    .carousel
        .container
            .row
                .col-md-12
                    Carousel(style={height:"380px",overflow:"hidden"})
                        each i in [1,2,3]
                            CarouselItem
                                img(src='http://eventlighting.ch/slideshow/'+i+'.jpg', width="100%")
                                .carousel-caption
                                    p(draggable='true') Silvesterparty, Genf, 12.03.2012

    //FileManager

    .container(onClick=this.doIt)
        .jumbotron()
            h1 Bereit für Ihren Event!
            | Die All in one Concert GmbH Veranstaltungstechnik ist ein Dienstleistungsunternehmen im Bereich der Eventtechnik. Durch den besten Einsatz unserer modernsten Veranstaltungstechnik, sorgen wir für die gewünschte Beachtung ihres Events.
            br
            | Wir sind ein kompetenter und zuverlässiger Partner für die Eventtechnik unserer Zeit. Durch das dynamische und erfolgsorientierte Team der All in one Concert GmbH profitieren unsere Kunden von einem hervorragendem Know-how und dem persönlichen Kontakt, der Ihnen kostengünstige Lösungen bietet.
    .container(style={'padding-bottom':'50px'})
        .row
            .col-md-6
                div
                    h2 Dienstleistungen
                    ul
                        li Verkauf/ Vermietung von Veranstaltungstechnik (Licht, Ton, Pyro und Video)
                        li Betreuung der Technik an Ihrem Event
                        li Planung Ihrer Veranstaltung
                        li Support und Einbau von Festinstallationen
                        li Service und Reparaturen (z.B GLP, Martin, ETC, ...)
                    a.btn.btn-primary.pull-right(href='/dienstleistungen',onClick=function(){this.refs.nav.dienstleistungen()}.bind(this)) ...und vieles mehr!
                    .clearfix
                div
                    h2 Equipment
                    ul
                        li Moving Heads
                        li Scanner
                        li Goboprojektor
                        li Goboherstellung
                        li Trussing
                        li Scheinwerfer (LED & Konventionell)
                        li Blinder & Fluter
                        li Himmelstrahler
                    a.btn.btn-primary.pull-right(href='/equipment',onClick=function(){this.refs.nav.dienstleistungen()}.bind(this)) ...und vieles mehr!
                    .clearfix
            .col-md-6
                h2 Neuigkeiten
                div
                    h4 Sennheiser Pro Partner
                        small  11. 11. 2014
                    p In der letzten Woche konnte die All in one Concert endlich das Zertifikat als Sennheiser Audio Pro Partner entgegennehmen. Wir freuen uns auf die Zusammenarbeit mit Sennheiser und bieten unseren Kunden durch die Partnerschaft einen hervorragenden Service.
                        a(href="")  Weiterlesen
                div
                    h4 Offizieller ETC Service-Partner
                        small  11. 11. 2014
                    p Wir haben uns auf die gängigsten Produkte in der Schweiz spezialisiert. Gerne stehen wir für den Service und Support dieser Produkte zur Verfügung. Danke unserem Lager und der hervorragenden Werkstatt können wir schnell und kostengünstig agieren.
                        a(href="")  Weiterlesen
                div
                    h4 PokketMixer jetzt auch in der Schweiz
                        small  11. 11. 2014
                    p Nun endlich sind die PokketMixer auch in der Schweiz erhältlich. Bestellen Sie exklusiv das trendige Produkt in verschiedenen Farben bei uns.
                        a(href="")  Weiterlesen
main.
    var Component = require("neutronjs").components.Component;
    var FileManager = require("neutronjs").components.FileManager;
    var AdminPanel = require("neutronjs").components.AdminPanel;

    var Carousel = require("react-bootstrap/Carousel");
    var CarouselItem = require("react-bootstrap/CarouselItem");
    var async = require("async");


    exports.saveComponents = function(names,cb){
        var self = this;
        var result = {};
        async.each(names,function(name,cb){
            self.refs[name].save(function(data){
                result[name] = data;
                cb();
            });
        },function(){
            cb(result);
        });
    }


    exports.save = function(cb){
        this.saveComponents(["dienstleistungen","equipment","blog"],function(data){
            cb(data);
        });
    }

    exports.statics = {
        handler:"../pages/start.js"
    }
