html{
    height:100%;
}
body{
    font-family:century gothic;
    line-height: 1.5em;
    position:relative;
    min-height:100%;
    font-size:12pt;
    display:table;
    width:100%;
    height:100%;
}
img{
    max-width:100%;
}
.nav a {
    color: black;
    font-weight: bold;
    font-size: 14pt;
}
.nav a.active {
    color: white;
    background-color: #EA5D0E;
    border-radius: 5px;
}
.footer a{
    color:white;
}

.carousel{
    background:#333;
}

.apos-refreshable{
    position:relative;
    min-height:100%;
}
.footer{
    background-color:#333;
    color:white;
    display:table-row;
    width:100%;
}
.navbar-spacer{
    height:100px;
    display:table-row;
}
.main-content{
    margin-top:100px;
    padding-bottom:250px;
    display:table-row;
    width:100%;
    height:100%;
}

#share-buttons img {
    width: 45px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}
